<html lang="en">
  <head>
    <meta name="description" content="Decription for app goes here">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body>
    <%- include main.ejs %>
  </body>
  <script src="js/main.min.js"></script>
</html>
